<!DOCTYPE html> <html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/todo.css' />
  </head>
  <body>

  <div class="show-todo-item">
    <a href="/todo/list">Go back</a>
  </div>

    <h1>Edit your task</h1>

    <form method="POST" action="/todo" id="todoForm">

      <input type="hidden" name="db_id" value="<%= todo._id %>">

      <div class="formfield">
        <div class="formfield--prompt">Title:</div>
        <input type="text" id="todoTitle" name="title" value="<%= todo.title %>" required>
      </div>
      <div class="formfield">
          <div>
            Description: <input type="textarea" id="todoDescription" name="description" value="<%= todo.description %>" required>
          </div>
      </div>
      <div class="formfield">
        <div class="formfield--prompt">Priority (1-100):</div>
        <input type="text" id="todoPriority" name="priority" value="<%= todo.priority %>" required>
      </div>
      <div class="formfield">
        <div class="formfield--prompt">Complete by:</div>
        <input type="text" id="todoDuedate"
          name="due_date"
          value="<%= todo.due_date.getMonth() + 1 %>/<%= todo.due_date.getDate() %>/<%= todo.due_date.getFullYear() %>" required>
      </div>
      <div>
            Completed?  <input type="checkbox" id="todoCompleted" name="complete">
      </div>

      <input class="submitButton" type="submit"></input>
    </form>

    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
    <script src="http://jqueryvalidation.org/files/dist/additional-methods.min.js"></script>

    <script src="/javascripts/validate.js"></script>
  </body>
</html>




