<!DOCTYPE html>
<html>
  <head>
    <title>Your To Do List</title>
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

<body>
   <h1><%= greeting %></h1>
   <ul>
       <% tasks.forEach(function(task){ %>
       <li>Tittle: <%= task.title %><li>
       <li>Description: <%= task.description %><li>
       <li>Priority: <%=task.priority %></li>
       <li>Due Date: <%= task.due_date %><li>
       <li>Time: <%= task.timestamp %><li>
       <li>Completed? <%= task.completed %><li>
       <% }) %>
   </ul>

</body>

</html>
